{% extends "layout.html" %}

{% block title %}
    Game
{% endblock %}

{% block main %}
    <div class="center">
        <h1>a + b</h1>
    </div>
    <div class="upper-right">
        <ul class="wrapper">
            <li class="icon game-button-one">
                <span class="tooltip">Restart</span>
                <span><i class="fab fa-game-button-one-f"></i></span>
            </li>
            <li class="icon game-button-two">
                <span class="tooltip">Settings</span>
                <span><i class="fab fa-game-button-two"></i></span>
            </li>
            <li class="icon game-button-three">
                <span class="tooltip">Exit</span>
                <span><i class="fab fa-game-button-three"></i></span>
            </li>
        </ul>
    </div>
    <div class="center bottom">
        <h1>?</h1>
    </div>
{% endblock %}
