<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/styles.css" rel="stylesheet">
        <link rel="preload" href="/static/arithmetick-bg.png" as="image" />
        <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <title>ArithmeticK {% block title %}{% endblock %}</title>
    </head>
    <body>
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
