{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="welcome-screen">
        <div id="parallax-bg"></div>
        <h2>CS50 FINAL PROJECT</h2>
        <h1>Arithme<span class="orange">tic<span>K</span></span></h1>
        <h3>GAMIFIED QUICK MATH MASTERY</h3>
        {% if get_flashed_messages() %}
        <div class="alert-container">
            <div class="alert">

                <!-- By clicking the X symbol, the warn element's visibility is turned off -->
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <span>Warning!</span> {{ get_flashed_messages() | join(" ") }}
              </div>
        </div>
        {% endif %}
        <form action="/register" method="post">
            <div class="input-wrapper">
                <input autocomplete="off" autofocus class="" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="input-wrapper">
                <input class="" id="password" name="password" placeholder="Password" type="password">
            </div>
            <div class="input-wrapper">
                <input class="" id="confirmation" name="confirmation" placeholder="Password (again)" type="password">
            </div>
            <div class="button-content-wrapper">
                <button class="arrow-button" type="submit">
                    REGISTER
                    <div class="arrow-wrapper">
                        <div class="arrow"></div>
                    </div>
                </button>
            </div>
            <div>
                <p>Already have an account? <a href="./login">Login your account</a></p>
            </div>
        </form>
    </div>
    <script src="/static/parallax.js"></script>
{% endblock %}
